* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 1rem;
}

@font-face {
    font-family: Inter;
    src: url(/Prototipo/fonts/Inter.ttf);
}

body {
    background: linear-gradient(90deg, rgb(212, 212, 212) 0%, rgb(168, 168, 168) 84%);
    margin: 0 auto;
}

h1,
h2,
p {
    font-family: Inter;
    color: #85586F;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: #85586F;
    height: 3vh;
    width: 100vw;

}

.title {
    margin: 20px 10px;
    margin-left: 5vw;
}

.title h1 {
    margin-bottom: 10px;
}

.holder {
    margin-top: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.holder2 {
    border: solid #D9D9D9 1rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    width: 40vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holder3 {
    background-color: rgba(58, 0, 34, 0.719);
    height: 18vh;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    background-image: url('');
    background-size: contain;
}

.holder3>p {
    color: white;
    display: none;
}

button {
    border: none;
    border-radius: 15rem;
    background-color: inherit;
    transition-duration: 0.5s;
    cursor: pointer;
}

.buttons {
    width: 20vw;
}

img {
    width: 4rem;
}

button:hover {
    background-color: #a0a0a0;
}

.nome {
    position: absolute;
    left: 50rem;
    top: 10rem;
}