

/* div#webcam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
button#start{
    margin: 0;
}
#cam{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
/* div#webcam-container{
    
}
 */